body {
	margin: 0 0 0 0;
	overflow: auto;
	background-image: url(https://ak4.picdn.net/shutterstock/videos/11863184/thumb/1.jpg);
	background-size: cover;
	display: block;
	text-align: center;
	min-width: 500px;
	background-repeat: no-repeat;
	min-height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

h1, input, #prompt, .buttons {
	font-family: 'Staatliches', cursive;
}

h1 {
	font-size: 50px;
}

#scores {
	background-color: white;
	width: 40%;
	margin: 0 30%;
	border: 3px solid black;
	border-radius: 20px;
}

#statistics, #scoreboard {
	width: 100%;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

input[type=text] {
	margin: 10px 0;
	width: 300px;
	height: 100px;
	font-size: 30px;
	text-align: center;
}

input, .buttons {
	border: 3px solid black;
	border-radius: 20px;
	padding: 5px;
}

#zatchi {
	display: block;
	margin: 20px auto;
}

#allButtons {
	width: 60%;
	display: inline-flex;
	justify-content: space-evenly;
	margin: 0 20px;
}